.card{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -40px;
    padding: 15px;
}

.card .card-header-warning .card-icon, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card .card-header-warning .card-text {
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
    /* background: linear-gradient(60deg, #ffa726, #fb8c00); */
    background: #51456d;
}

.card [class*="card-header-"] {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
}

.card .card-header {
    z-index: 3 !important;
}

.card [class*="card-header-"], .card[class*="bg-"] {
    color: #fff;
}

.card .card-header {
    border-bottom: none;
    background: transparent;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.edu-card-content{
    margin-top:50px !important;
}